h1{
    color: white;
}

.oscuro{
    background-color: rgb(37, 30, 82);
    color: aliceblue;
}

.oscuro .contenedor-resultados{
    background-color: rgb(21, 6, 87);
    color: rgb(238, 238, 238);
    text-align: center;
}

.claro{
    background-color: aliceblue;
    color: black;
}

.claro .contenedor-resultados{
    background-color: rgb(190, 224, 229);
    color:white;
    text-align: center;

}

.card{
    background-color: rgb(46, 104, 170);
    align-content: center;
    width: 18rem;
}


#botonBusqueda{
    background-color: greenyellow;
}