

.oscuro{
    background-color: rgb(37, 30, 82);
    color: aliceblue;
}

.claro{
    background-color: aliceblue;
    color: black;
}

.estilo-carta-claro{
    background-color: silver;
    color: black;
    text-align: center;
}

.estilo-carta-oscuro{
    background-color: rgb(21, 6, 87);
    color: rgb(238, 238, 238);
    text-align: center;
}
.card{
    background-color: rgb(19, 73, 134);
}


#botonBusqueda{
    background-color: greenyellow;
}