body{
    background-color: deepskyblue;
}

#titulo{
    text-align:center;
    color: greenyellow;
    background-color: cornflowerblue;
    font-size: 6em;
}

#contenedor_formulario {
    background-color: white;
    border-radius: 10px;
    border: 1px solid black;
    margin: 1% auto; }


#contenedor{
    text-align: center;
}

.card{
    width: 20rem;
    margin-left: 40%;
    margin-right: 20%;
}

#boton{
    text-align: center;
}
