<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    
    <link rel="stylesheet" href="../bootstrap/bootstrap.css">
    <link rel="stylesheet" href="../bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="../css/Proximos-animes.css">

    <title>Proximos animes</title>
</head>
<body class="claro">

    <nav class="navbar navbar-dark bg-primary">
        <!-- Navbar content -->
        <a href="../index.html"><h1 id="titulo">Animaraton</h1></a>
        <ul class="nav navbar-nav navbar-right">
            <button id="botonTema" class="switch">Modo Oscuro</button>
        </ul>
    </nav>

    <div id="contenedor-resultados" class="card-deck contenedor-resultados claro">

    </div>

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="../js/top-Animes.js"></script>
    
</body>
</html>